{% set style = "NirnStyle.css" %}
{% extends "base.html" %}
{% block title %}AddonPreview{% endblock %}
{% block content %}

<!--
Пишите ВЕСЬ свой код между block conent! и ebdblock!
  -->

<header>
  <div class="container" >
    <div class="row align-items-center">
      <div class="col-12">
        <h1 class="text-center">Добавки</h1>
      </div>
    </div>
  </div>
</header>


<div class="container" align="center">
  <div class="row row-cols-3">
    {% for addon in addons %}
    <div class="col">
      <div class="card" style="width: 22rem;">
        <img src="https://artnow.ru/img/1109000/1109233.jpg" class="card-img-top" alt="" width="200" height="250">
        <div class="card-body">
          <h5 class="card-title">{{addon.name}}</h5>
          <p class="card-text">
            Давай же узнаем побольше о {{addon.name}}! Кликай!
          </p>
          <a href="/addon_preview/{{addon.id}}" class="btn btn-primary">Погрузиться в тайные знания!</a>
          {% if user.email==key %}
          <a href="/addon_delite/{{addon.id}}" class = "btn btn-outline-danger">Удалить {{addon.name}}</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>




{% endblock %}
