
{% set style = "NirnStyle.css" %}
{% extends "base.html" %}
{% block title %}AddonPreview{% endblock %}
{% block content %}

<!--
Пишите ВЕСЬ свой код между block conent! и ebdblock!
  -->

<header>
  <div class="container" >
    <div class="row align-items-center">
      <div class="col-12">
        <h1 class="text-center">Даэдрическая кухня</h1>
      </div>
    </div>
  </div>
</header>


<div class="container" align="center">
  <div class="row row-cols-3">
    {% for resipe in nirn %}
    <div class="col">
      <div class="card" style="width: 22rem;">
        <img src={{resipe.image}} class="card-img-top" alt="" width="200" height="250">
        <div class="card-body">
          <h5 class="card-title">{{resipe.name}}</h5>
          <p class="card-text">
          {% for ingr in resipe.ingridients_in_resipe %}

            {{ingr.name}}


          {% endfor %}
          </p>
          <a href="/nirn_preview/{{resipe.id}}" class="btn btn-primary">К {{resipe.name}}!</a>
          {% if user.email==key %}
          <a href="/nirn_delite/{{resipe.id}}" class = "btn btn-outline-danger">Удалить {{resipe.name}}</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>




{% endblock %}
