{% extends "base.html" %}
{% block title %}Cards{% endblock %}
{% block content %}
<!--
<ul class="list-group list-group-horizontal">
  <li class="list-group-item">
    <div class="card" style="width: 22rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAkG5pzCwUstzIXUpl0AM1V8J83L_GzBtTQ&usqp=CAU" class="card-img-top" alt=" ">
    <div class="card-body">
      <h5 class="card-title">Вкусный пирожочек</h5>
      <p class="card-text">Этот вкусный пирожочек хочет поскорее подарить тебе любовь к готовке, после ощущения его пострясающего букета вкусов!</p>
      <a href="#" class="btn btn-primary">К Пирожочку!</a>
    </div>
  </div>
</li>
  <li class="list-group-item">
    <div class="card" style="width: 22rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAkG5pzCwUstzIXUpl0AM1V8J83L_GzBtTQ&usqp=CAU" class="card-img-top" alt=" ">
      <div class="card-body">
        <h5 class="card-title">Вкусный пирожочек</h5>
        <p class="card-text">Этот вкусный пирожочек хочет поскорее подарить тебе любовь к готовке, после ощущения его пострясающего букета вкусов!</p>
        <a href="#" class="btn btn-primary">К Пирожочку!</a>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="card" style="width: 22rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAkG5pzCwUstzIXUpl0AM1V8J83L_GzBtTQ&usqp=CAU" class="card-img-top" alt=" ">
      <div class="card-body">
        <h5 class="card-title">Вкусный пирожочек</h5>
        <p class="card-text">Этот вкусный пирожочек хочет поскорее подарить тебе любовь к готовке, после ощущения его пострясающего букета вкусов!</p>
        <a href="#" class="btn btn-primary">К Пирожочку!</a>
      </div>
    </div>
  </li>
</ul>
<div class="card-group">
<div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAkG5pzCwUstzIXUpl0AM1V8J83L_GzBtTQ&usqp=CAU" class="card-img-top" alt=" ">
  <div class="card-body">
    <h5 class="card-title">Вкусный пирожочек</h5>
    <p class="card-text">Этот вкусный пирожочек хочет поскорее подарить тебе любовь к готовке, после ощущения его пострясающего букета вкусов!</p>
    <a href="#" class="btn btn-primary">К Пирожочку!</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAkG5pzCwUstzIXUpl0AM1V8J83L_GzBtTQ&usqp=CAU" class="card-img-top" alt=" ">
  <div class="card-body">
    <h5 class="card-title">Вкусный пирожочек</h5>
    <p class="card-text">Этот вкусный пирожочек хочет поскорее подарить тебе любовь к готовке, после ощущения его пострясающего букета вкусов!</p>
    <a href="#" class="btn btn-primary">К Пирожочку!</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAkG5pzCwUstzIXUpl0AM1V8J83L_GzBtTQ&usqp=CAU" class="card-img-top" alt=" ">
  <div class="card-body">
    <h5 class="card-title">Вкусный пирожочек</h5>
    <p class="card-text">Этот вкусный пирожочек хочет поскорее подарить тебе любовь к готовке, после ощущения его пострясающего букета вкусов!</p>
    <a href="#" class="btn btn-primary">К Пирожочку!</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAkG5pzCwUstzIXUpl0AM1V8J83L_GzBtTQ&usqp=CAU" class="card-img-top" alt=" ">
  <div class="card-body">
    <h5 class="card-title">Вкусный пирожочек</h5>
    <p class="card-text">Этот вкусный пирожочек хочет поскорее подарить тебе любовь к готовке, после ощущения его пострясающего букета вкусов!</p>
    <a href="#" class="btn btn-primary">К Пирожочку!</a>
  </div>
</div>
</div>


<div class="container" align="center">
  <div class="row row-cols-3">
    <div class="col">
    <div class="card" style="width: 22rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAkG5pzCwUstzIXUpl0AM1V8J83L_GzBtTQ&usqp=CAU" class="card-img-top" alt=" ">
      <div class="card-body">
        <h5 class="card-title">Вкусный пирожочек</h5>
        <p class="card-text">Этот вкусный пирожочек хочет поскорее подарить тебе любовь к готовке, после ощущения его пострясающего букета вкусов!</p>
        <a href="#" class="btn btn-primary">К Пирожочку!</a>
      </div>
    </div>
    </div>
    <div class="col">
    <div class="card" style="width: 22rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAkG5pzCwUstzIXUpl0AM1V8J83L_GzBtTQ&usqp=CAU" class="card-img-top" alt=" ">
      <div class="card-body">
        <h5 class="card-title">Вкусный пирожочек</h5>
        <p class="card-text">Этот вкусный пирожочек хочет поскорее подарить тебе любовь к готовке, после ощущения его пострясающего букета вкусов!</p>
        <a href="#" class="btn btn-primary">К Пирожочку!</a>
      </div>
    </div>
    </div>
    <div class="col">
    <div class="card" style="width: 22rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAkG5pzCwUstzIXUpl0AM1V8J83L_GzBtTQ&usqp=CAU" class="card-img-top" alt=" ">
      <div class="card-body">
        <h5 class="card-title">Вкусный пирожочек</h5>
        <p class="card-text">Этот вкусный пирожочек хочет поскорее подарить тебе любовь к готовке, после ощущения его пострясающего букета вкусов!</p>
        <a href="#" class="btn btn-primary">К Пирожочку!</a>
      </div>
    </div>
    </div>
    </div>
    </div>
-->

<h1 align="center"> Рецепты </h1>



<form class="row g-3" method="POST">
<label for="IngridientsSearch" class="form-label col-auto">Введите ингридиент для фильтрации!</label>
<input class="form-control" list="Ingridients" id="IngridientsSearch" name="Ingridient_to_sort" placeholder="Введите ингридиент">
<datalist id="Ingridients">
  {% for ingr in ingridients %}
  <option value={{ingr.name}}>
  {% endfor %}
</datalist>
<div class="col-auto">
  <button type="submit" class="btn btn-primary mb-3" name="Flag_with" value="1">Выбрать продукты с этим ингридиентом!</button>
</div>
<div class="col-auto">
  <button type="submit" class="btn btn-primary mb-3" name="Flag_reboot" value="1">Давай вернём всё как было!</button>
</div>
<div class="col-auto">
  <button type="submit" class="btn btn-primary mb-3" name="Flag_exept" value="1">Хочу продукты без этого ингридинта!</button>
</div>
<div class="col-auto">
  <button type="submit" class="btn btn-primary mb-3" name="Flag_time" value="1">Дай мне что-то побыстрее!</button>
</div>
<div class="col-auto">
  <button type="submit" class="btn btn-primary mb-3" name="Flag_amount" value="1">Дай мне что-то поэкономнее!</button>
</div>
<div class="col-auto">
  <a href="/vegan-resipes" class="btn btn-outline-primary">Я веган!</a>
</div>
</form>

<!--   СДЕЛАТЬ ВХОДНУЮ ФОРМУ,
 КАЖДЫЙ РАЗ ПРИ ЗАПОЛНЕНИИ КОТОРОЙ БУДЕТ ВВОДИТСЯ ОДИН ИНГРИДИЕНТ
  И БУДЕТ ОБНОВЛЯТЬСЯ СТАТИСТИКА. ПОСЛЕ ЭТОГО СДЕЛАТЬ СБРОС ПОЛЯ
  -->
<!--
    <div class="container" align="center">
      <div class="row row-cols-3">
        {% for resipe in resipes %}
        <div class="col">
          <div class="card" style="width: 22rem;">
            <img src={{resipe.image}} class="card-img-top" alt=" " width="200" height="250">
            <div class="card-body">
              <h5 class="card-title">{{resipe.name}}</h5>
              <p class="card-text">
              {% for ingr in resipe.ingridients_in_resipe %}

                {{ingr.name}}


              {% endfor %}
              </p>
              <a href="/resipe_preview/{{resipe.id}}" class="btn btn-primary">К {{resipe.name}} !</a>
            </div>
          </div>

        </div>
        {% endfor %}
      </div>
    </div>
-->

<!-- РАБОТАЕТ!!!!! А ТЕПЕРЬ ДОБАВИТЬ КНОПКУ СБРОСА!-->
    <div class="container" align="center">
      <div class="row row-cols-3">
        {% for resipe in result_resipes %}
        <div class="col">
          <div class="card" style="width: 22rem;">
            <img src={{resipe.image}} class="card-img-top" alt=" " width="200" height="250">
            <div class="card-body">
              <h5 class="card-title">{{resipe.name}}</h5>
              <p class="card-text">
              {% for ingr in resipe.ingridients_in_resipe %}

                {{ingr.name}}


              {% endfor %}
              </p>
              <a href="/resipe_preview/{{resipe.id}}" class="btn btn-primary">К {{resipe.name}}!</a>
              {% if user.email==key %}
              <a href="/resipe_delite/{{resipe.id}}" class = "btn btn-outline-danger">Удалить {{resipe.name}}</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

{%endblock%}
